.loginBox{
display: flex;
justify-content: flex-end;
margin-top: 15vh;
}

.logoText{
    color: white ;
    font-size: 2rem;
    line-height: 2.3rem;
    font-weight: 800;
    margin: 4vh 0 0  3vw;
}

.seimensLogo{
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 500;
    color: var(--color-torquise);
}


.test{
    display: flex;
    flex-direction: column;
    background-color: white;
}








