:root{
  --color-black:#252422;
  --color-grey:  #4C5B5C;
  --color-torquise: #339989;
  --color-white: white;
 
}
 

*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

html,body{
height: 100%;
background-image:  url('./assets/5040007.jpg');
background-repeat: repeat;
background-size: cover;
}










body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

